version: 2.1

workflows:
  main-workflow:
    jobs:
      - lint
      - publish:
          context: anima-prod
          # filters:
          #   branches:
          #     only: main

jobs:
  lint:
    docker:
      - image: cimg/node:22.19.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            corepack enable || sudo corepack enable
            pnpm install
      - run:
          name: Run linting
          command: pnpm lint

  publish:
    docker:
      - image: cimg/node:22.19.0
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            corepack enable || sudo corepack enable
            pnpm install
            pnpm run build
      - run:
          name: Set .npmrc for NPM publish
          command: |
            echo "@animaapp:registry=https://registry.npmjs.org" >> .npmrc
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
      - run:
          name: Publish to NPM
          command: pnpm exec changeset publish --no-git-checks
      - run:
          name: Set .npmrc for GitHub Packages publish
          command: |
            rm .npmrc

            echo "@animaapp:registry=https://npm.pkg.github.com" >> .npmrc
            echo "//npm.pkg.github.com/:_authToken=$GITHUB_PACKAGE_TOKEN" >> .npmrc
      - run:
          name: Publish to GitHub Packages
          command: pnpm exec changeset publish --no-git-checks
